<!-- Start Header -->
<nav class="container">
    <div class="row">
        <div class="column ">
            <img src="{{site.baseurl}}/assets/images/fixed-nav-logo-tall-w.png" alt="PourOver LLC Logo"
                 class="float-right"/>
            <h1>
                <a href="{{site.url}}">
                    {{site.title}}
                </a>
            </h1>
            <h4>{{site.description}}</h4>
            <p>Technology, coffee, good stuff. Digital product development.</p>
            <p>
                <a href="{{site.twitter_url}}">twitter</a>,
                <a href="{{site.github_url}}">github</a>
            </p>
        </div>
    </div>
</nav>