    <!-- Start Header -->
    <header class="themeix-aside">
        <!-- control bar -->
        <div class="control-bar">
            <div class="text-center">
              <span class="menu-toggle">
               <i class="chart"></i>
               <i class="chart"></i>
               <i class="chart"></i>
               </span>
            </div>
        </div>
        <!-- Start SlideMenu  -->
        <div class="themeix-slide-menu menu-open navbar-scrolled">
            <div class="themeix-fixed-nav">
                <div class="themeix-nav-logo"><a href="{{site.url}}"><img src="{{site.baseurl}}/assets/images/fixed-nav-logo-tall-w.png" alt="fixedn nav logo"/></a></div>
                <nav> 
                    <ul class="themeix-nav-menu list-inline">
                        <li><a href="{{site.url}}#about" class="btn-animated js-scroll-trigger">about <i class="fa fa-home"></i></a></li>
                        <li><a href="{{site.url}}#blog" class="btn-animated js-scroll-trigger">blog <i class="fa fa-book"></i></a></li>
                        <li><a href="{{site.url}}#contact" class="btn-animated js-scroll-trigger">contact <i class="fa fa-address-card"></i></a></li>
                    </ul>
                </nav>
                <div class="homepage-copyright">
                <ul class="list-inline fixed-social-share">
                    <li class="list-inline-item"><a href="{{site.twitter_url}}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li class="list-inline-item"><a href="{{site.github_url}}"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                </ul>
                   <p class="copyright">Copyright &copy;&nbsp;{{ 'now' | date: "%Y" }}<br />PourOver&nbsp;LLC</p>
                </div>
            </div>
        </div>
     <!-- End SlideMenu ================-->
    </header>
    <!-- End Header -->
