<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!--    <meta name="description" content=""/>-->
    <title>{{site.title}}</title>
    <!--call favicon icon-->
    <link rel="icon" href="{{site.baseurl}}/assets/images/favicon.png" type="image/x-icon"/>

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

    <!-- CSS Reset -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

    <!-- Milligram CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

    <!-- You should properly set the path from the main file. -->    <!-- Custom responsive styles -->
    <!--    <link href="{{site.baseurl}}/assets/css/responsive.css" rel="stylesheet"/>-->
    <!--call lora font stylesheet-->
    <!--    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,600" rel="stylesheet">-->
    <!--    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">-->

    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/layout.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/header.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/copy-code.css">
</head>

<body>
{% include header.html %}

<section class="container">
    <div class="row">
        <main class="column">
            {{ content }}
        </main>
    </div>
</section>

{% include footer.html %}

<script src="{{site.baseurl}}/assets/js/copy-code.js"></script>
</body>

</html>